.vscode/**
.vscode-test/**
test/**
src/**
node_modules/**
.gitignore
.cursorrules
.yarnrc
package-lock.json
webpack.config.js
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/.DS_Store
**/.tmp-render/**
**/.tmp-yaml-check/**
